---
---
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}/styles/style.css">
    <title>Blog|Generalist Sanctuary</title>
  </head>
  <body>
       <nav>
        <ul>
          <li><a href="index.html" >Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
       </nav>
       <header><h1><span style="font-size:5vw;">Generalist Sanctuary</span>/Blog</h1></header>
      <p>This page contains a categorised list of all the posts. These are either in the form of short analyses on recurring as well as latest issues or in the form of explainers. Although the analyses attempt to cover a broad spectrum of topics it is usually presented in a non-technical or a generalist perspective. And the explainers are on issues bothering the world in general and India in particular. The explainers also cover concepts and terminologies which are academic in nature. Happy reading and understanding.</p> 
      <br>
      {% for cat in site.categories %}
        <h3>{{cat[0]| capitalize}}</h3>
          <ul>
          {% for post in cat[1] %}
          <li><a href="{{post.url}}">{{post.title}}</a></li>
          {% endfor %}
          </ul>
      {% endfor %}
      
  </body>
</html>
