---
---
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{site.baseurl}}/styles/posts-style.css">
    <title>{{page.title}}|Generalist Haven</title>
  </head>
  <body>
       <nav>
        <ul>
          <li><a href="https://generalistsanctuary.github.io/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="https://generalistsanctuary.github.io/category.html">Categories</a></li>
        </ul>
       </nav>
       <h1>{{page.title}}</h1>
      {{content}}
  </body>
</html>
