h1{   
      font-family: 'Noto Serif', serif;
}  
body{
      max-width: 700px;
      margin: 0 auto;
      padding-left: 4%;
      padding-right: 4%;
      font-family: 'Roboto', sans-serif;
      
}
  p{
    font-size: 18px;
    line-height: 1.8;
      }
  nav{
      background-color: rgb(86, 143, 143);
      display: flex;    
  }
  nav li{
      display: inline;   
  }
  nav a:hover{
      color: black;
  }
  nav a{
      text-decoration: none;
      color: white;    
      font-size: 20px;
      padding-left: 20px;
  }
  .postsList{
      max-width: 700px;
      margin: 0 auto;
      line-height: 1.8;
      padding-left: 4%;
      padding-right: 4%;
      font-size: 18px;
  }
  .postsList a:link {
      text-decoration: none;
      color: darkcyan;
  }
  .postsList a:visited {
      text-decoration: none;
      color: darkcyan;
  }
  .postsList a:hover {
      text-decoration: none;
      color: black;
  }
ol{
      max-width: 600px;
      margin: 0 auto;
      line-height: 1.8;
      padding-left: 4%;
      padding-right: 4%;
      font-size: 18px;
      
}
