body{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
    font-family:'Inter', sans-serif;
}
h1{
 max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
h2{
max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
p{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.7;
}
pre{
 max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  
}
blockquote{
    
}
nav{
    border-bottom: 1px solid rgb(12, 12, 12);
    margin-bottom: 2%;
}
nav ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    line-height: 1;
}
nav li{
    display: inline;   
}
nav a:hover{
    color: black;
}
nav a{
    text-decoration: none;
    color: darkcyan;    
    font-size: 20px;
    padding-left: 20px;
}
.postsList{
    max-width: 700px;
  margin: 0 auto;
  padding: 0 10%;
  font-size: 16px;
}
.postsList a:link {
    text-decoration: none;
    color: darkcyan;
}
.postsList a:visited {
    text-decoration: none;
    color: darkcyan;
}
.postsList a:hover {
    text-decoration: none;
    color: black;
}
ul{
max-width: 700px;
      margin: 0 auto;
      line-height: 1.8;
      padding-left: 4%;
      padding-right: 4%;
      font-size: 16px;
}
ol{
      max-width: 700px;
      margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.7;
}
