h3{
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10%;
  margin-bottom: 0.75%;
  
}
.intro{
    padding: 4%;
    text-align: center;
    margin-bottom: 2%;
}

body{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
    font-family:'Inter', sans-serif;
}
p{
  max-width: 700px;
  margin: 1% auto;
  padding: 0 10%;
  font-size: 18px;
  line-height: 1.7;
}
nav{
    border-bottom: 1px solid rgb(12, 12, 12);    
    margin-bottom: 2%;
}
nav ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
   line-height: 1;
}
nav li{
    display: inline;   
}
nav a:hover{
    color: black;
}
nav a{
    text-decoration: none;
    color: darkcyan;    
    font-size: 20px;
    padding-left: 20px;
}
.postsList{
    max-width: 700px;
  margin: 1% auto;
  padding: 0 10%;
  font-size: 16px;
}
.postsList a:link {
    text-decoration: none;
    color: darkcyan;
}
.postsList a:visited {
    text-decoration: none;
    color: darkcyan;
}
.postsList a:hover {
    text-decoration: none;
    color: black;
}
